{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('accueil') }}
{% endblock %}

{% block title %}Le Blog{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }    
</style>

<h1>Le Blog</h1>

<div class="example-wrapper">
    <a href="{{ path('app_article_new') }}" class="button">➕ Nouvel article</a>
    <a href="{{ path('app_article_index') }}">📜 Articles</a>
    <a href="{{ path('app_categorie_index') }}">💡 Categories</a>
</div>
{% endblock %}
