.example-wrapper
{
    display: flex;
    justify-content: center;
}

a, button
{
    margin: 2em;
}

@media(max-width: 740px){
    .example-wrapper
    {
        flex-direction: column;
    }
}

@media(min-width: 741px){
    a{
        width: 10em;
    }
}