body
{
    background-color: #E6EBE0;
}

h1
{
    text-align: center;
    margin: 2em;
}

table
{
    margin: auto;
}

button, a
{
    padding: 1em;
    text-decoration: none;
    color: black;
    background-color:white;
    border: solid black 1px;
    border-radius: 10em/10em;
    text-align: center;
    white-space: nowrap;/*pour empecher le texte de se mettre sur 2 lignes*/
}

td>a
{
    padding-top: 0em;
    padding-bottom: 0em;
}

form
{
    margin: 2em;
}

form>div>div
{
    margin: auto;
    width: 17em;;
    display: flex;
    justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
    body
    {
        background-color: #222222;
        color: #E6EBE0;
    }

    button, a
    {
        color: white;
        background-color:black;
        border: solid white 2px;
    }
}

@media(max-width: 740px){
    table{
        margin-bottom: 10em;
    }
}