{% extends 'base.html.twig' %}

{% block title %}Editer Commentaire{% endblock %}

{% block body %}
    <h1>Editer Commentaire</h1>

    {{ include('commentaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_article_show', {'id': commentaire.article.id}) }}">retour à la liste</a>

    {{ include('commentaire/_delete_form.html.twig') }}
{% endblock %}
