{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <h1>Commentaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Pseudo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in article.commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.description }}</td>
                <td>{{ commentaire.pseudo }}</td>
                <td>
                    <a href="{{ path('app_commentaire_show', {'id': commentaire.id}) }}">afficher</a>
                    <a href="{{ path('app_commentaire_edit', {'id': commentaire.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucun commentaire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commentaire_new', {'articleId': article.id}) }}">Ecrire un commentaire</a>
    <a href="{{ path('app_home') }}">ACCUEIL</a>
{% endblock %}
