{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
    <h1>Nouveat commentaire</h1>

    {{ include('commentaire/_form.html.twig') }}

    <a href="{{ path('app_article_show', {'id':article.id}) }}">retour à la liste</a>
{% endblock %}
