{% extends 'base.html.twig' %}

{% block title %}Commentaire de {{ commentaire.pseudo }}{% endblock %}

{% block body %}
    <h1>Commentaire de {{ commentaire.pseudo }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ commentaire.description }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ commentaire.pseudo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_show', {'id': commentaire.article.id}) }}">retour à la liste</a>

    <a href="{{ path('app_commentaire_edit', {'id': commentaire.id}) }}">éditer</a>

    {{ include('commentaire/_delete_form.html.twig') }}
{% endblock %}
