{% extends 'base.html.twig' %}

{% block title %}Editer la catégorie{% endblock %}

{% block body %}
    <h1>Editer la catégorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_index') }}">retour à la liste</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
