{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <h1>Nouvelle Catégorie</h1>
    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('app_categorie_index') }}">retour à la liste</a>
{% endblock %}
