{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ categorie.nom }}{% endblock %}

{% block body %}
    <h1>{{ categorie.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('article/index.html.twig', {'articles': categorie.articles}) }}

    <a href="{{ path('app_categorie_index') }}">retour à la liste</a>

    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">éditer</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
