{% extends 'base.html.twig' %}

{% block title %}Editer l'article{% endblock %}

{% block body %}
    <h1>Editer l'article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_article_index') }}">retour à la liste</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
