{% extends 'base.html.twig' %}

{% block title %}Article : {{ article.titre }}{% endblock %}

{% block body %}
    <h1>{{ article.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ article.pseudo }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('commentaire/index.html.twig', {'article': article}) }}

    <a href="{{ path('app_article_index') }}">retour à la liste</a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}">éditer</a>

    {{ include('article/_delete_form.html.twig') }}

{% endblock %}
